@media screen and (max-width: 576px) {
    .grand-parent {
        padding: 0 20px;
    }
    .grand-parent ul{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .grand-parent {
        padding: 0 50px;
    }
    .grand-parent ul{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .grand-parent {
        padding: 0 50px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1180px) {
    .grand-parent {
        padding: 0 200px;
    }
}