@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url('../images/body-background.png');
}

.grand-parent{
    padding: 0 300px;
}
.grand-parent > h1{
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 50px 0;
}
ul{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
}

ul > li > a{
    overflow: hidden;
    color: #000000;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px #00000067,
            inset 0px 0px 10px #000000d3;
    position: relative;
    z-index: 1;
    transition: 250ms;
}
ul > li > a:hover{
    color: #fff;
    transition: 300ms;
}
ul > li > a::before{
    content: "";
    width: 40%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 6px 20px 0px #00000057,
    inset 0px 0px 10px #000000d3;
    background: #FD6E0A;
    border-radius: 10px;
    transition: 500ms;
    z-index: -1;
}
ul > li > a:hover::before,
ul > li > a:active::before{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}